@charset "UTF-8";
body {
    background-image: url(https://www.freevector.com/uploads/vector/preview/3352/FreeVector-Dynamic-Background.jpg);
    font-family: Arial, sans-serif;
    background-size: cover;
}