<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=come.spring_coreProject"/>
        <listEntry value="artifactId=core.spring"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=come.spring_coreProject.core.spring"/>
        <listEntry value="outputDirectory=E:\CODE\JSP AND SERVLET\spring_first_project"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\RITIKS~1\AppData\Local\Temp\m2e-archetypeGenerator15041456734576919664"/>
</launchConfiguration>
